
OPENAI_API_KEY = ""
LANGCHAIN_TRACING_V2="true"
# vivek below key
LANGCHAIN_API_KEY='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'
LANGCHAIN_PROJECT="Borges-Knowledge-Graph"
NEO4J_URI=""
NEO4J_USERNAME="neo4j"
NEO4J_PASSWORD=""
GOOGLE_API_KEY= ""

#vivek below
QDRANT_API_KEY = ''
NEW_QDRANT_URL = ''

NEW_QDRANT_API_KEY = ''
LLAMAPARSE_API_KEY = ""

BACKUP_OPENAI_API_KEY = ""